{% extends "layout.html.twig" %}
{% block contenu %}

        <!-- Boucle for qui intialise l'agenda en fonction des activites presentes dans la base de donnees   -->
        <!-- TODO, faire la gestion d'ajout d'inscription impossible d'ajouter une inscription lorsqu'un enfant est déjà inscrit -->

    <h4 class="title-form text-center">Agenda</h4>

    <form method="post" action="{{ path( 'agenda.validAjouterInscription') }}">
            <div class="row">
                <table>
                    <thead>
                    <tr>
                        <th>Activité</th>
                        <th>Jour </th>
                        <th>Début activité</th>
                        <th>Fin activité</th>
                        <th>Inscrit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key in agenda if agenda is not empty %}
                        {% for key2 in key if key is not empty %}
                        <tr>
                        <td><label for="chbxAddInscription">{{  key2.nomActivite }}</label></td>
                        <td><label for="chbxAddInscription">{{ key2.jour }}</label> </td>
                        <td><label for="chbxAddInscription">{{ key2.heureDebut }} h</label> </td>
                        <td><label for="chbxAddInscription">{{ key2.heureFin }} h</label></td>
                        <td><input type="checkbox" id="chbxAddInscription" name="{{ key2.idAgenda }}" value="{{key2.idAgenda}}"></td>
                        </tr>
                            {% endfor %}
                    {% endfor %}
                        <input type="hidden" name="idEnfant" value={{ idEnfant }}>
                    </tbody>
                </table>
                <br>
                <button class="button primary" type="submit" name="inscription"><span class="button-arrow-right">Valider l'inscription</span></button>
            </div>
        </form>


{% endblock %}