{% extends "layout.html.twig" %}
{% block contenu %}

    <script src='https://www.google.com/recaptcha/api.js'></script>
            <form method="post" action="{{ path("adulte.validFormAdd")}} ">
        <div class="row">
            <fieldset>
                <legend>Inscription :</legend>

                <label>Nom :
                    <input name="nom"  type="text"  size="18" value="{{ donnees.nom|default("") }}" />
                    {% if erreurs.nom is defined %}
                        <small class="error">{{ erreurs.nom }}</small>
                    {% endif %}
                </label>

                <label>Prénom :
                    <input name="prenom"  type="text"  size="18" value="{{donnees.prenom|default("")}}"/>
                    {% if erreurs.prenom is defined %}
                        <small class="error">{{erreurs.prenom}}</small>
                    {% endif %}
                </label>

                <label>Mot de passe :
                    <input name="password"  type="password"  size="18" value="{{donnees.password|default("")}}"/>
                    {% if erreurs.password is defined %}
                        <small class="error">{{erreurs.password}}</small>
                    {% endif %}
                </label>
                {#
                                <label>Autorité parentale :
                                    <select name="autoriteParentale">
                                        {% if  donnees.autoriteParentale is not defined or donnees.autoriteParentale is empty   %}
                                            <option value="">Veuillez sélectionner une option</option>
                                        {% endif %}
                                        <option value="true"> Oui </option>
                                        <option value="false"> Non </option>
                                    </select>
                                    {% if erreurs.autoriteParentale is defined %}
                                        <small class="error">{{ erreurs.autoriteParentale }}</small>
                                    {% endif %}<!--à modifier-->
                                </label>
                                #}

                <label><b>Adresse : </b></label>
                <br>
                <label>N° et voie :
                    <input name="adresse"  type="text"  size="18" value="{{donnees.adresse|default("")}}"/>
                    {% if erreurs.adresse is defined %}
                        <small class="error">{{erreurs.adresse}}</small>
                    {% endif %}
                </label>

                <label>Code postal :
                    <input name="code_postal"  type="text"  size="18" value="{{donnees.code_postal|default("")}}"/>
                    {% if erreurs.code_postal is defined %}
                        <small class="error">{{erreurs.code_postal}}</small>
                    {% endif %}
                </label>

                <label>Ville :
                    <input name="ville"  type="text"  size="18" value="{{donnees.ville|default("")}}"/>
                    {% if erreurs.ville is defined %}
                        <small class="error">{{erreurs.ville}}</small>
                    {% endif %}
                </label>

                <label><b>Contact : </b></label>
                <br>

                <label>Adresse email :
                    <input name="adresseMail"  type="text"  size="18" value="{{donnees.adresseMail|default("")}}"/>
                    {% if erreurs.adresseMail is defined %}
                        <small class="error">{{erreurs.adresseMail}}</small>
                    {% endif %}
                </label>

                <label>N° de téléphone :
                    <input name="telephone"  type="text"  size="18" value="{{donnees.telephone|default("")}}"/>
                    {% if erreurs.telephone is defined %}
                        <small class="error">{{erreurs.telephone}}</small>
                    {% endif %}
                </label>

                <label>Mot de passe :
                    <input name="password"  type="password"  size="18" value="{{donnees.password|default("")}}"/>
                    {% if erreurs.password is defined %}
                        <small class="error">{{erreurs.password}}</small>
                    {% endif %}
                </label>

                <!-- CAPTCHA -->
                <center><div class="g-recaptcha" data-sitekey="6LdVOzsUAAAAAERAjnNRKrU78oQpR2abkPcn-LvO"></div></center>
                {% if erreurs.captcha is defined %}
                    <small class="error">{{erreurs.captcha}}</small>
                {% endif %}

                <br>
                <button class="button primary" type="submit" name="ajoutParent"><span class="button-plus-right">Ajouter</span></button>

            </fieldset>
        </div>
    </form>
{% endblock %}