{% extends "layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{ path('adulte.validEditInfos') }}">
        <div class="row">
            <fieldset>
                <legend>Informations sur mon compte</legend>
                <label>Nom d'utilisateur :
                    <input name="username"  type="text"  size="18" value="{{donnees.username}}" />
                    {% if erreurs.username is defined %}
                        <small class="error">{{erreurs.username}}</small>
                    {% endif %}
                </label>
                <label>Adresse mail :
                    <input name="adresseMail"  type="text"  size="18" value="{{donnees.adresseMail}}" />
                    {% if erreurs.adresseMail is defined %}
                        <small class="error">{{erreurs.adresseMail}}</small>
                    {% endif %}
                </label>
            </fieldset>

            <fieldset>
                <legend>Informations personelles</legend>
                <label>Nom :
                    <input name="nom"  type="text"  size="18" value="{{donnees.nom}}" />
                    {% if erreurs.nom is defined %}
                        <small class="error">{{erreurs.nom}}</small>
                    {% endif %}
                </label>
                <label>Prénom :
                    <input name="prenom"  type="text"  size="18" value="{{donnees.prenom}}" />
                    {% if erreurs.prenom is defined %}
                        <small class="error">{{erreurs.prenom}}</small>
                    {% endif %}
                </label>
                <label>Code postal :
                    <input name="code_postal"  type="text"  size="18" value="{{donnees.code_postal}}" />
                    {% if erreurs.code_postal is defined %}
                        <small class="error">{{erreurs.code_postal}}</small>
                    {% endif %}
                </label>
                <label>Ville :
                    <input name="ville"  type="text"  size="18" value="{{donnees.ville}}" />
                    {% if erreurs.ville is defined %}
                        <small class="error">{{erreurs.ville}}</small>
                    {% endif %}
                </label>
                <label>Adresse complète :
                    <input name="adresse"  type="text"  size="18" value="{{donnees.adresse}}" />
                    {% if erreurs.adresse is defined %}
                        <small class="error">{{erreurs.adresse}}</small>
                    {% endif %}
                </label>
                <label>Téléphone :
                    <input name="telephone"  type="text"  size="18" value="{{donnees.telephone}}" />
                    {% if erreurs.telephone is defined %}
                        <small class="error">{{erreurs.telephone}}</small>
                    {% endif %}
                </label>
            </fieldset>

            <br>
            <center>

                <label><br>
                    <b style="color: darkred;">Mot de passe nécessaire pour enregistrer toute modification</b>
                    <input name="password"  type="password"  size="18" value="" style="width: 250px;"/>
                    {% if erreurs.password is defined %}
                        <small class="error">{{erreurs.password}}</small>
                    {% endif %}
                    <input type="submit" name="editInfos" value="Valider" style="margin-bottom: 12%"/><br>

                </label>

            </center>
        </div>
    </form>
{% endblock %}
