{% extends "layout.html.twig" %}
{% block contenu %}
    {% if inscription_confirm is defined %}
        <br>
        <center><b>Votre compte a bien été créé !</b><br>
        <b>Votre nom d'utilisateur est {{ login }}.</b></center>
    {% endif %}
    <form method="post" action="{{ path('adulte.validFormlogin') }}">

        <div class="row">

            <fieldset>
                <legend>Se connecter :</legend>
                <label>Nom d'utilisateur :
<<<<<<< HEAD
                    <input name="username"  type="text"  size="18" value="{% if login is defined %}{{ login }}{% endif %}" placeholder="Votre nom d'utilisateur" />
=======
                    <input name="username"  type="text"  size="18" value="{% if login is defined %}{{ login }}{% endif %}" placeholder="Votre nom d'utilisateur"/>
>>>>>>> add_css
                </label>

                <label>Mot de passe :
                    <input name="password"  type="password"  size="18" value="" />
                </label>
                {% if app.session.get('erreur') is not empty %}
                    <small class="error">{{ app.session.get('erreur') }}</small>
                {% endif %}

                <input type="submit" name="seConnecter" value="Se connecter" />
                <a href="{{ path('adulte.add')}}"> S'inscrire </a>
	</fieldset>
</div>
</form>
    <br>
    <center><b>admin - admin<br>
        parent - parent</b></center>

{% endblock %}
