{% extends "layout.html.twig" %}
{% block contenu %}
    {% if inscription_confirm is defined %}
        <br>
        <center><b>Votre compte a bien été créé !</b><br>
        <b>Votre nom d'utilisateur est {{ login }}.</b></center>
    {% endif %}
    <fieldset id="login-form">
        <legend>Portail</legend>
        <div>
            <form method="post" action="{{ path('adulte.validFormlogin') }}">
                <label>Nom d'utilisateur :
                    <input name="username"  type="text"  size="18" value="{% if login is defined %}{{ login }}{% endif %}" placeholder="Votre nom d'utilisateur" />
                </label>
                <label>Mot de passe :
                    <input name="password"  type="password"  size="18" value="" placeholder="Votre mot de passe"/>
                </label>
                {% if app.session.get('erreur') is not empty %}
                    <small class="error">{{ app.session.get('erreur') }}</small>
                {% endif %}
                <button class="button primary" id="seconnecterbutton" type="submit" name="seConnecter"><span class="button-arrow-right">Se connecter</span></button>
            </form>
            <form action="{{ path('adulte.add')}}">
                <button id="sinscrirebutton" class="button primary" name="sInscrire"><span class="button-arrow-left">S'inscrire</span></button>
            </form>
        </div>

    </fieldset>

{% endblock %}
