<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area"> 
<<<<<<< HEAD
      <li class="name">
        <h1 class="shake"> <a href="{{ path("adulte.index") }}">EasyPéri</a></h1>
=======
      <li class="name"> 
        <h1> <a href="{{ path("adulte.index") }}">EasyPéri<span style="color:#9dff82;"></span></a></h1>
>>>>>>> add_css
      </li> 
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li> 
    </ul> 
    <section class="top-bar-section"> 
      <ul class="left">
          <li class="divider"></li>
          {% if app.session.get('roles') == ('ROLE_ADMIN') %}
              <li class="has-dropdown">
                  <a href="#">Enfants</a>
                  <ul class="dropdown">
                      <li><a href="{{ path("enfant.show")  }}">Liste des enfants</a></li>
                  </ul>
              </li>
              <li class="has-dropdown">
                  <a href="#">Parents</a>
                  <ul class="dropdown">
                      <li><a href="{{ path("adulte.show")  }}">Liste des parents</a></li>
                  </ul>
              </li>
              <li><a href="{{ path("activite.show")  }}">Activites</a></li>
          {% elseif app.session.get('roles') == ('ROLE_USER') %}
              <li class="has-dropdown">
                  <a href="#">Enfants</a>
                  <ul class="dropdown">
                      <li><a href="{{ path("enfant.showEnfants")  }}">Vos enfants</a></li>
                      <li><a href="{{ path('enfant.add', {idParent:app.session.get('username')}) }}">Inscrire un enfant</a></li>
                  </ul>
              </li>
              <li class="has-dropdown">
                  <a href="#">Parents</a>
                  <ul class="dropdown">
                      <li><a href="{{ path('adulte.showInfos') }}">Vos informations</a></li>
                  </ul>
              </li>
              <li><a href="#">Activités</a></li>
              <li><a href="#">Factures</a></li>
          {% endif %}
      </ul>
      <ul class="right">
        {% if app.session.get('username') is defined and app.session.get('logged') == 1 %}
          <li><a href="{{ path('adulte.logout')  }}">Se déconnecter</a></li>
        {% else %}
          <li><a href="{{ path('adulte.login')  }}">Se connecter</a></li>
        {% endif %}
      </ul>
    </section> 
</nav>